    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>
        
        <section class="content">
        
        
        
            
           <div class="row">
           
           
            <div class="col-lg-6 col-md-6 col-xs-12">
                       <div class="box  box-success">
                <div class="box-header">
                <i class="fa fa-qrcode"></i>

                <h3 class="box-title">Identifiant du boîtier</h3>
                </div>
                
                <div class="box-body chat" id="chat-box">
                     <div class="row">
                    
                    
                    
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="info-box bg-blue">
                        <span class="info-box-icon"><i class="fa fa-barcode"></i></span>

                        <div class="info-box-content">
                        <span class="align-middle"  ><center><h4><b>~tpl_box_id</b></h4> </center></span>
                        </div>
                        <!-- /.info-box-content -->
                        </div>                
                        </div>
                </div></div>
                    <!-- /.info-box-content -->
            </div></div>
            
            
           
            <div class="col-lg-6 col-md-6 col-xs-12">
                       <div class="box  box-success">
                <div class="box-header">
                <i class="fa fa-update"></i>

                <h3 class="box-title">Changement de mode</h3>
                </div>
                
                <div class="box-body chat" id="chat-box">
                     <div class="row">
                    
                    
                    
                    <div class="col-lg-12 col-md-12 col-xs-12">
                    <div style="height:15px"></div>
                    <center>
                                              <a style="display:~tpl_display_client_inline" class="btn btn-app btn-info" href="/recup/change-serverclient.cgi">
                <i class="fa fa-server"></i> Passage en mode Serveur
                </a>
                
                     <a  style="display:~tpl_display_server_inline" class="btn btn-app btn-info" href="/recup/change-serverclient.cgi">
                <i class="fa fa-user"></i> Passage en mode client
                </a>
                
                </center>
                </div>
            <div class="tooltipp pull-right"><i class="fa fa-support" aria-hidden="true"></i> Aide
  <span class="tooltiptextp" style="display:~tpl_display_client_inline">Ce bouton permet de passer en <b>mode serveur</b> afin d'étendre le réseau d'une entreprise et permettre aux boîtiers client détenus par les salariés de s'y connecter. Si vous êtes employé, et souhaitez simplement vous connecter au réseau d'une entreprise, ne cliquez pas dessus.</span>
  
  <span class="tooltiptextp" style="display:~tpl_display_server_inline">Ce bouton permet de passer en <b>mode client</b> afin de se connecter à distance à un réseau d'entreprise. Si ce boitier est branché dans le réseau de l'entreprise dans le but de l'étendre, ne cliquez pas sur ce bouton.</span>  
</div>
<br><div style="height:10px"></div>
        
            </div>
             



            </div></div>
            </div>
            
            </div>     
            
            
            
            
    
           <div class="row">
           
           
            <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="box  box-success" style="display:block">
                <div class="box-header">
                <i class="fa fa-server"></i>

                <h3 class="box-title">Langue</h3>
                </div>
                <form  action="/recup/langue.cgi" method="post" class="form-horizontal">                
                               <div class="box-body chat" id="chat-box">

                        <div class="form-group">
                <label for="langue" class="col-sm-4 control-label"><i class="fa fa-flag"></i> Langue</label><div class="col-sm-8">
                <select id="langue" name="langue" class="form-control">
                                                    <option value="en" ~tpl_selected_en>
                                                        English
                                                    </option></br>
                                                    <option value="fr" ~tpl_selected_fr>
                                                        Français
                                                    </option></br>
                                                            
                </select>
                </div>
            </div>
            
            
            </div>   
            
            <div class="col-12"> <center><input  type="submit" value="Valider" class="btn btn-success"></center></div>
             <div style="height:10px"></div>
             <div>
             </form>

             </div>
            

            
           </div> 
            
            
            
           <div class="row">
           
           
            <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="box  box-success" style="display:~tpl_display_server_block" >
                <div class="box-header">
                <i class="fa fa-server"></i>

                <h3 class="box-title">Paramètres serveur</h3>
                </div>
                <form  action="/recup/avance-serveur.cgi" method="post" class="form-horizontal">                
                <div class="box-body chat" id="chat-box">
                <p>Configurer ci-dessous la liste des ports publics sur lequel le serveur peut être joignable.</p>

                            <div class="form-group">
                            
                <label for="port1" class="col-sm-4 control-label">Port 1</label><div class="col-sm-8"><input type="number" name="port1" value="~tpl_port1" class="form-control"></div>
                <label for="port2" class="col-sm-4 control-label">Port 2</label><div class="col-sm-8"><input type="number" name="port2" value="~tpl_port2" class="form-control"></div>
                <label for="port3" class="col-sm-4 control-label">Port 3</label><div class="col-sm-8"><input type="number" name="port3" value="~tpl_port3" class="form-control"></div>     
                <label for="port4" class="col-sm-4 control-label">Port 4</label><div class="col-sm-8"><input type="number" name="port4" value="~tpl_port4" class="form-control"></div>
                
    
               
             </div>
            </div>
            <div class="col-12"> <center><input  type="submit" value="Valider" class="btn btn-success"></center></div>
             <div style="height:10px"></div>
             </form>

             </div>
            
            </div>
            
           </div> 
                  
           <div class="row">
           
           
            <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="box  box-success" style="display:~tpl_display_client_block">
                <div class="box-header">
                <i class="fa fa-server"></i>

                <h3 class="box-title">Paramètres client</h3>
                </div>
                <form  action="/recup/avance-client.cgi" method="post" class="form-horizontal">                
                               <div class="box-body chat" id="chat-box">

                       
                            <input type="checkbox" id="autostart" name="autostart" ~tpl_check_autostart> <label for="autostart"> Passage automatique en mode entreprise au démarrage lorsque la connexion internet est pleinement fonctionnelle.</br>
                        </label> 
            </div>   
            
            <div class="col-12"> <center><input  type="submit" value="Valider" class="btn btn-success"></center></div>
             <div style="height:10px"></div>
             <div>
             </form>

             </div>
            

            
           </div> 
                                    
                  
                  
           <div class="row">
           
           
           
           
            <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="box  box-success">
                <div class="box-header">
                <i class="fa fa-server"></i>

                <h3 class="box-title">Paramètres generaux</h3>
                </div>
                <form  action="/recup/avance-general.cgi" method="post" class="form-horizontal">                
                <div class="box-body chat" id="chat-box">
                <p>Configurer ci-dessous la liste serveurs stun.</p>

                            <div class="form-group">
                
                <div style="row">
                <div class="col-sm-6"><b>Serveur stun</b></div><div class="col-sm-6"><b>Port stun</b></div></div>   
                
                <div style="row">
                <div class="col-sm-6"><input type="text" name="stun1" value="~tpl_stun1" class="form-control"></div><div class="col-sm-6"><input type="number" name="stun_port1" value="~tpl_stun_port1" class="form-control"></div></div>    
                
                <div style="row">
                <div class="col-sm-6"><input type="text" name="stun2" value="~tpl_stun2" class="form-control"></div><div class="col-sm-6"><input type="number" name="stun_port2" value="~tpl_stun_port2" class="form-control"></div></div>   
                
                <div style="row">
                <div class="col-sm-6"><input type="text" name="stun3" value="~tpl_stun3" class="form-control"></div><div class="col-sm-6"><input type="number" name="stun_port3" value="~tpl_stun_port3" class="form-control"></div></div>                   
    
               
             </div>
            <p> Renseignez ci-dessous le serveur mandataire pour les services cachés</p>
                                        <div class="form-group">
                
                <div style="row">
             
                <div style="row">
                <div class="col-sm-4"><b>Serveur mandataire service cachés</b></div><div class="col-sm-8"><input type="text" name="torproxy" value="~tpl_torproxy" class="form-control"></div></div>    
                
                  
    
               
             </div>
            </div>
            <div class="col-12"> <center><input  type="submit" value="Valider" class="btn btn-success"></center></div>
             <div style="height:10px"></div>
             </form>

             </div>
            
            </div>
         </div> 
         </div>
            
          
          

          
          
           <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="box  box-success">
                <div class="box-header">
                <i class="fa fa-refresh"></i>

                <h3 class="box-title">Mise à jour du Firmware</h3>
                </div>
                <form  action="/recup/upgrade1.cgi" method="post" class="form-horizontal" enctype="multipart/form-data">                
                <div class="box-body chat" id="chat-box">
                     
                     <label for="file">Fichier du Firmware:</label>
                     <input type="file" name="file" id="file">
          
                </div>    
            <div class="col-12"> <center><input  type="submit" value="Valider" class="btn btn-success"></center></div>
             <div style="height:10px"></div>
             </form>

             </div>
            
            </div>
         </div> 
                      
        
            
            
            
           </div>                   
            </section>
    
    </div>  
 

