    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>
        
        <section class="content">
        <!-- Small boxes (Stat box) -->
        
   
              
              
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                       <div class="box  box-success">
                <div class="box-header">
                <i class="fa fa-info"></i>

                <h3 class="box-title">Détails Internet</h3>
                </div>
                
                <div class="box-body chat" id="chat-box">
                     <div class="row">
                    
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="info-box bg-~tpl_internet_color">
                        <span class="info-box-icon"><i class="fa fa-globe"></i></span>

                        <div class="info-box-content">
                        <span class="align-middle"  ><center><b>Internet </b><h3><b>~tpl_internet_text</b></h3></center></span>
                        </div>
                        <!-- /.info-box-content -->
                        </div>  
                     </div>   
                        
                        
                    <div class="col-lg-12 col-md-12 col-xs-12">                        
                        <div class="info-box bg-~tpl_ping_color">
                        <span class="info-box-icon"><i class="fa fa-compress"></i></span>

                        <div class="info-box-content">
                        <span class="align-middle"  ><center><b>Etat du ping</b> <h3><b>~tpl_ping_state</b></h3></center></span>
                        </div>
                        <!-- /.info-box-content -->
                        </div>
                     </div>                          
                        
                        <div class="col-lg-12 col-md-12 col-xs-12">                        
                        <div class="info-box bg-~tpl_tor_color">
                        <span class="info-box-icon"><i class="fa fa-random"></i></span>

                        <div class="info-box-content">
                        <span class="align-middle"  ><center><b>Etat de tor</b> <h3><b>~tpl_tor_state</b></h3></center></span>
                        </div>
                        <!-- /.info-box-content -->
                        </div>
                     </div>                           
                        
                        <div class="col-lg-12 col-md-12 col-xs-12">                        
                        <div class="info-box bg-~tpl_stun_color">
                        <span class="info-box-icon"><i class="fa fa-server"></i></span>

                        <div class="info-box-content">
                        <span class="align-middle"  ><center><b>Etat de stun</b> <h3><b>~tpl_stun_state</b></h3></center></span>
                        </div>
                        <!-- /.info-box-content -->
                        </div>
                     </div>                             
            
                    
                    <div class="col-lg-12 col-md-12 col-xs-12">                        
                        <div class="info-box bg-~tpl_udp_color">
                        <span class="info-box-icon"><i class="fa fa-fire"></i></span>

                        <div class="info-box-content">
                        <span class="align-middle"  ><center><b>Ports UDP (>1024)</b> <h3><b>~tpl_udp_state</b></h3></center></span>
                        </div>
                        <!-- /.info-box-content -->
                        </div>
                     </div>  
                        
                </div></div>
                
                </div></div>
                </div>
            
            
            
            
            </section>
    
    </div>  
 
 
