<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
  <head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="content-type" content="text/html; charset=utf8" />
    <title>Telework-box</title>
    <link href="/lib/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/dist/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css" />
    
     <link rel="stylesheet" href="/lib/font-awesome/style.css" type="text/css">  
     <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" type="text/css">     

     <script type="text/javascript" src="/lib/dist/js/jquery.js"></script>
     <script type="text/javascript" src="/lib/dist/js/jquery-ui.min.js"></script>
     <script type="text/javascript" src="/lib/dist/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="/lib/dist/js/app.min.js"></script>


    <script type="text/javascript">
        <!--
        function ejs_nodroit() { return(false); } document.oncontextmenu = ejs_nodroit;
        function help(info) {
        if(document.getElementById(info).style.display=="none") {
        document.getElementById(info).style.display="block" ;
        } else {
        document.getElementById(info).style.display="none" ;
        }
        }
        // -->
    </script>
    <style type="text/css">
    .help-block {display:none}
    </style>
  </head>
    <body id="" class="hold-transition skin-blue sidebar-mini">
     <header class="main-header">
    <!-- Logo -->
    <a href="index.cgi" class="logo">    
    <span class="logo-lg">
      <img src="/img/logo.png" width="200px" /><!-- <b>Telework</b>BOX-->
      
   </span>
   
       <span class="logo-xs">
      <img src="/img/logo-mini.png" height="34px" /><!-- <b>Telework</b>BOX-->
      
   </span>
     </a>   
     
     
   
<nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Fermer/Ouvrir le menu</span>
          </a>
          <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
           <li class="dropdown messages-menu">
            <a href="#"   class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="background-color:orange">
                <i class="fa fa-refresh"></i> Redémarrer
            </a>
            </li>
           </ul> 
           </div> 
        </nav>
        
  </header>
  
  
  
  
  
  
  
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
   
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">ADMINISTRATION</li>
         <li class="~tpl_active_acceuil" >
          <a href="date.cgi">
            <i class="fa fa-home"></i> <span>Accueil</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
        
        <li class="~tpl_active_code" >
          <a href="domaines.cgi">
            <i class="fa fa-edit"></i> <span>Code de connexion</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
        
        <li class="~tpl_active_wifi" >
          <a href="/cgi/wifi.cgi">
            <i class="fa fa-wifi"></i> <span>Wifi</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>      
        
        <li class="~tpl_active_avancé">
          <a href="mails.cgi ">
            <i class="fa fa-gear"></i> <span>Avancé</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
       
    </section>
    <!-- /.sidebar -->
  </aside>
