
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="height:100%">
    
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>
        
        <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                       <div class="box  box-success">
                <div class="box-header">
                <i class="fa fa-info"></i>

                <h3 class="box-title">État du boîtier</h3>
                </div>
                
                <div class="box-body chat" id="chat-box">
                     <div class="row">
                    
                    
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="info-box bg-blue">
                        <span class="info-box-icon"><i class="fa fa-~tpl_client2_mode_icon"></i></span>

                        <div class="info-box-content">
                        <span class="align-middle" ><center><b>Mode:</b>~tpl_client_mode</center></span>
                        </div>
                        <!-- /.info-box-content -->
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="info-box bg-~tpl_internet_color">
                        <span class="info-box-icon"><i class="fa fa-globe"></i></span>

                        <div class="info-box-content">
                        <span class="align-middle"  ><center><b>Internet ( <a href="/cgi/check-internet.cgi"><font color="white"><u>détails</u></font> </a> )</b><h3><b>~tpl_internet_text</b></h3></center></span>
                        </div>
                        <!-- /.info-box-content -->
                        </div>                
                        </div>
                </div></div>
                                    <div style="height:25px"></div>
                    <!-- /.info-box-content -->
            </div></div>
        
        
        
            <div class="col-lg-6 col-md-6 col-xs-12">
                       <div class="box  box-success" style="display:~tpl_display_action">
                <div class="box-header">
                <i class="fa fa-refresh"></i>

                <h3 class="box-title">Actions possibles</h3>
                </div>
                
                <div class="box-body chat" id="chat-box" >
                <center>
<!--                <a  style="display:~tpl_display_offline" class="btn btn-app btn-info" href="/recup/get-offline.cgi">
                <i class="fa fa-pause"></i> Mode hors-ligne
                </a>-->
                <a style="display:~tpl_display_local" class="btn btn-app btn-info" target="_blank" href="/recup/get-local.cgi">
                <i class="fa fa-id-card"></i> S'identifier auprès du portail captif
                </a>     
                
                <a style="display:~tpl_display_captive" class="btn btn-app btn-info" target="_blank" href="http://iciwifi.top">
                <i class="fa fa-id-card"></i> S'identifier auprès du portail captif
                </a>   
                
                <a style="display:~tpl_display_entreprise" class="btn btn-app btn-info" href="/recup/get-entreprise.cgi">
                <i class="fa fa-users"></i> Se connecter au réseau d'entreprise
                </a>  
                </center>
                </div>  
                             

<div class="tooltipp pull-right"><i class="fa fa-support" aria-hidden="true"></i> Aide
  <span class="tooltiptextp"><p style="display:~tpl_display_offline"><b>Le mode hors-ligne</b> redirige automatiquement le navigateur vers cette interface d'administration, et ne permet d'accéder à rien d'autre.<br></p><p style="display:~tpl_display_local"><b>Le mode réseau local</b> permet d'accéder au réseau local sur lequel est branché le boîtier,ce qui est principalement utile lorsqu'un réseau public requière une identification via un portail captif pour accéder à Internet.<br></p> <p style="display:~tpl_display_entreprise"> <b>Le mode entreprise </b> permet de se connecter sur le réseau de l'entreprise distante, correspondant au code de connexion configuré.<p> </span>
</div>
<br><div style="height:10px"></div>
           
                    <!-- /.info-box-content -->
            </div>
            
            
            
        </div>
        </div>
        
     <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12" style="display:~tpl_display_warning_client" >        
                <div class="alert alert-warning alert-dismissible">
                    <h4><i class="icon fa fa-warning"></i> Attention </h4>
                        Vous êtes connecté au réseau de l'entreprise uniquement grâce au système de secourt. La connexion au réseau de l'entreprise risque d'être particulièrement lente. La connexion internet utilisée est peut-être trop filtrée, ou bien le serveur Telework-box dans votre entreprise est peut-être mal configuré.
                </div>
            </div>
        </div> 
        
         
            </section>
    
    </div>  
