
<body style="background-color: #ecf0f5;">
<div class="col-md-4"></div>
		<div class="col-md-6" style="margin-top:20%">
			<div class="info-box">
				<span class="info-box-icon bg-yellow"><i class="fa fa-rotate-right fa-spin"></i></span>

				<div class="info-box-content">
					<span class="info-box-text"><b>Voulez-vous redémarrer le boîtier ?</b></span>
					<span class="info-box-number">
						<a href="/cgi/home.cgi" class="btn btn-block btn-danger btn-lg" style="width: 48%;display: inline-block;margin-top:5px">Annuler</a>
						<span>&nbsp;</span>
						<a href="/recup/redemarrer.cgi" class="btn btn-block btn-success btn-lg" style="width: 48%;display: inline-block;margin-top:5px">Redémarrer</a>
					</span>
				</div>
			</div>
		</div>
<div class="col-md-2"></div>
</body>
