    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>
        
        <section class="content">
        <!-- Small boxes (Stat box) -->

        <div class="row">
            
            <div class="col-lg-2 col-md-2 col-xs-0"></div>
            <div class="col-lg-8 col-md-8 col-xs-12">
    
    

    <!-- Wifi connection -->
            <div class="box box-success">
                <div class="box-header">
                <i class="fa fa-search"></i>

                <h3 class="box-title">Scan des réseaux wifi environnants.</h3><br>
                </div>
                <div class="box-body chat" id="chat-box">
                <a href="wifi.cgi" class="btn btn-warning"><i class="fa fa-arrow-left"></i> Retour</a>
                <a href="wifi-scan.cgi" class="btn btn-success"><i class="fa fa-refresh"></i> rescan</a>
                <br><br>
                <table class="table table-condensed">
                <tbody>
                <tr><th></th><th>SSID</th><th>Méthode de chiffrement</th><th>Action</th></tr>
                    ~tpl_tab_rows
                </tbody>
                </table>
                
            </div>
            </div>
            <!-- Wifi connection  -->
            
            </div>
    
            
            </div>
            
            </section>
    
    </div>  
