    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>
        
        <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-12">
                    <div class="box  box-success">
                <div class="box-header">
                <i class="fa fa-download"></i>

                <h3 class="box-title">État client wifi</h3>
                </div>
                
                <div class="box-body chat" id="chat-box">
                
                    <div class="row">
                    
                    
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="info-box bg-~tpl_wifi_client_connected_color">
                        <span class="info-box-icon"><i class="fa fa-wifi"></i></span>

                        <div class="info-box-content">
                        <span class="align-middle" ><center><h4>~tpl_wifi_client_connected_text</h4></center></span>
                        </div>
                        <!-- /.info-box-content -->
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="info-box bg-~tpl_wifi_client_internet_color">
                        <span class="info-box-icon"><i class="fa fa-globe"></i></span>

                        <div class="info-box-content">
                        <span class="align-middle"  ><center><h4>~tpl_wifi_client_internet_text</h4></center></span>
                        </div>
                        <!-- /.info-box-content -->
                        </div>                
                        </div>
                        
                    <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="info-box bg-~tpl_ip_color">
                    <span class="info-box-icon"><b>IP</b></span>

                    <div class="info-box-content" style="vertical-align: middle;">
                    <span  ><center><h4><b>~tpl_ip_wlan</b></h4></center></span>                 
                    </div>  
                    <!-- /.info-box-content -->
                    </div>  
                    </div>
                    <!-- end row -->
                    </div>
                    
                    
                </div>   
                
            </div>
        </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="box  box-success">
                <div class="box-header">
                <i class="fa fa-upload"></i>

                <h3 class="box-title">État wifi émis</h3>
                </div>
                <div class="box-body chat" id="chat-box">
                    <div class="info-box bg-~tpl_wifi_ap_state_color">
                    <span class="info-box-icon"><i class="fa fa-wifi"></i></span>

                    <div class="info-box-content align-middle">
                    <span class="align-middle"  ><center><h4>~tpl_wifi_ap_state_text</h4></center></span>
                    </div>
                    <!-- /.info-box-content -->
                    </div>
                </div>   
            
            
                </div>
        </div>
        
            </div>
            
        <div class="row">

        
            <div class="col-lg-6 col-md-6 col-xs-12">
    
    

    <!-- Wifi connection -->
            <div class="box box-success">
                <div class="box-header">
                <i class="fa fa-download"></i>

                <h3 class="box-title">Paramètres client wifi</h3>
                <form  action="/recup/wifi-sta.cgi" method="post" class="form-horizontal" >
                <div class="box-body chat" id="chat-box">

            
            <div class="form-group">           	
            <div class="col-sm-offset-1 col-sm-11">
            <div class="checkbox">
                        <label>
                            <input type="checkbox" name="active_wifi_client" ~tpl_check_active_client> Activer le client Wifi </br>
                        </label>
            </div> </div> </div>
            
            <div class="form-group">
                <label for="ssid" class="col-sm-4 control-label">SSID</label><div class="col-sm-8"><input type="text" name="ssid" value="~tpl_client_ssid" class="form-control"></div>
            </div>
            
            
                <div class="form-group">
                <label for="enctype" class="col-sm-4 control-label">Chiffrement</label><div class="col-sm-8">
                <select id="enctype" name="enctype" class="form-control">
                                                    <option value="none" ~tpl_selected_none >
                                                        Aucun Chiffrement
                                                    </option></br>
                                                    <option value="WPA" ~tpl_selected_WPA >
                                                        WPA/WPA2
                                                    </option></br>
                                                    <option value="WEPpass" ~tpl_selected_WEPpass >
                                                        WEP Passphrase
                                                    </option>
                                                    <option value="WEPhex" ~tpl_selected_WEPhex >
                                                        WEP hex
                                                    </option>												
                </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="pass" class="col-sm-4 control-label">Clef de Chiffrement</label><div class="col-sm-8"><input type="text" name="pass" value="~tpl_client_key" class="form-control"></div>
            </div>          
    
            <div class="form-group">           	
            <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
                        <label>
                            <input type="checkbox" name="hidden" ~tpl_checked_hidden> Réseau caché </br>
                        </label>
            </div>  </div> </div>
            
            </div>
            <div class="box-footer">
                    <div class="col-lg-5 col-md-5 col-xs-5"><a href="wifi-scan.cgi" class="btn btn-info"><i class="fa fa-search"></i> Scanner</a></div>
                    <div class="col-lg-7 col-md-7 col-xs-7"><input  type="submit" value="Valider" class="btn btn-success"></div>
                    
            </div>     
            </form>
                
            </div>
            </div>
            <!-- Wifi connection  -->
            
            </div>
            
            <div class="col-lg-6 col-md-6 col-xs-12">
    

    <!-- Wifi connection -->
            <div class="box  box-success">
                <div class="box-header">
                <i class="fa fa-upload"></i>

                <h3 class="box-title">Paramètres wifi émis</h3>
                <div class="box-body chat" id="chat-box">
            <form  action="/recup/wifi-ap.cgi" method="post" class="form-horizontal">
            
                    <div class="form-group">           	
            <div class="col-sm-offset-1 col-sm-11">
                <div class="checkbox">
                        <label>
                            <input type="checkbox" name="active_wifi_ap" ~tpl_check_active_ap> Activer l'émission du réseau Wifi </br>
                        </label>
            </div> </div> </div>
            
            <div class="form-group">
                <label for="ssid" class="col-sm-4 control-label">SSID</label><div class="col-sm-8"><input type="text" name="ssid" value="~tpl_ap_ssid" class="form-control"></div>
            </div>
            
            
            <div class="form-group">
                <label for="pass" class="col-sm-4 control-label">Clef de Chiffrement</label><div class="col-sm-8"><input type="text" name="pass" value="~tpl_ap_key" class="form-control"></div>
            </div>
            
                    <center>
                    <input  type="submit" value="Valider" class="btn btn-success">
                    </center>
                    </form>
                </div>
            </div>
            </div>
            <!-- Wifi connection  -->
            
            </div>
            </div>          
            
            </section>
    
    </div>  
