	<body style="background-color: #ecf0f5;">
		<div class="col-md-4"></div>
            <div class="col-md-6" style="margin-top:20%"> 
                <div class="alert alert-info alert-dismissible">
                <h4><i class="icon fa fa-info"></i> Wifi coté serveur.</h4>
                Le wifi n'est pas utilisable coté serveur, pour des raisons techniques: seul un réseau sans-fil WDS peut-être techniquement être étendu. Si vous auriez aimé étendre un réseau WDS merci de nous contacter.
              </div>
            <div>     
     </body>       
