<tr>
	<td>
           <p>~tpl_host</p> 
	</td>
	<td>
           <p>~tpl_code</p>            
	</td>
	<td>
           <p>~tpl_commentaire</p>             
	</td>
	<td style="width: 50px;">
		<a href="mailto:?subject=Votre code d'accès~tpl_etbody=Voici votre code d'accès {Hote:'~tpl_host'  Code:'~tpl_decryptcode' Commentaire:'~tpl_commentaire' }">
			<i class="fa  fa-envelope" style="margin-top:12px; font-size: 16px;" ></i>
		</a>
	</td>
	<td style="width: 50px;">
		<a href="/recup/del-code-server.cgi?numero=~tpl_count_index">
			<i class="fa  fa-trash text-red" style="margin-top:12px; font-size: 16px;" ></i>
		</a>
	</td>
</tr> 
