<tr>
	<td>
           <p>~tpl_host</p> 
	</td>
	<td>
           <p>~tpl_code</p>            
	</td>
	<td>
           <p>~tpl_commentaire</p>             
	</td>
	<td style="width: 50px;">
		<a href="/recup/load-code-client.cgi?numero=~tpl_count_index">
			<i class="fa  fa-upload" style="margin-top:12px; font-size: 16px;" ></i>
		</a>
	</td>
	<td style="width: 50px;">
		<a href="/recup/del-code-client.cgi?numero=~tpl_count_index">
			<i class="fa  fa-trash text-red" style="margin-top:12px; font-size: 16px;" ></i>
		</a>
	</td>
</tr> 
